button {
  background-color: var(--light-gray);
  border-radius: 23px;
  border: none;
  font-family: 'Avenir Heavy', sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 8px 30px;
  &:hover {
    cursor: pointer;
  }
}
.nav-buttons {
  margin: 10px;
}

router-outlet.create-profile-routes + * {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.wrapper.padding {
  padding: 10px 50px 50px;
  @media (min-width: 600px) {
    padding: 50px;
  }
}

.tab-menu-mobile {
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
  .nav-wrapper {
    max-width: 100%;
  }
}
