.wrapper {
  flex-wrap: wrap;
  min-height: 100vh !important;
  .login-title {
    text-align: center;
    font-size: 16px;
    @media (min-width: 599px) {
      font-size: 36px;
    }
  }
  .full-logo-container img {
    transform: scale(0.75);
    @media (min-width: 599px) {
      transform: scale(1);
    }
  }
  .btn-sign-invert {
    background-color: white;
    color: black;
  }
  .btn-sign {
    padding: 0 24px;
  }
}
